<!DOCTYPE html>
<!-- SOUBA HOME API -->
<html lang="en" data-lt-installed="true">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Souba & Fisher Api panel" />
    <meta name="author" content="DARA KEMAL WOROU" />
    <link
      rel="icon"
      href="https://getbootstrap.com/docs/4.0/assets/img/favicons/favicon.ico"
    />
    <title>Souba & Fisher Api Beta</title>
    <link
      rel="apple-touch-icon"
      sizes="57x57"
      href="{{ base_path ~ directory }} /favicon/apple-icon-57x57.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="60x60"
      href="{{ base_path ~ directory }} /favicon/apple-icon-60x60.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="72x72"
      href="{{ base_path ~ directory }} /favicon/apple-icon-72x72.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="76x76"
      href="{{ base_path ~ directory }} /favicon/apple-icon-76x76.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="114x114"
      href="{{ base_path ~ directory }} /favicon/apple-icon-114x114.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="120x120"
      href="{{ base_path ~ directory }} /favicon/apple-icon-120x120.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="144x144"
      href="{{ base_path ~ directory }} /favicon/apple-icon-144x144.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="152x152"
      href="{{ base_path ~ directory }} /favicon/apple-icon-152x152.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="{{ base_path ~ directory }} /favicon/apple-icon-180x180.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="192x192"
      href="{{ base_path ~ directory }} /favicon/android-icon-192x192.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="{{ base_path ~ directory }} /favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="96x96"
      href="{{ base_path ~ directory }} /favicon/favicon-96x96.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ base_path ~ directory }} /favicon/favicon-16x16.png"
    />
    <link
      rel="manifest"
      href="{{ base_path ~ directory }} /favicon/manifest.json"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
    <meta name="theme-color" content="#ffffff" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }

      html,
      body {
        height: 100%;
      }

      body {
        display: flex;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }

      .form-signin {
        width: 100%;
        max-width: 330px;
        padding: 15px;
        margin: auto;
      }

      .form-signin .checkbox {
        font-weight: 400;
      }

      .form-signin .form-floating:focus-within {
        z-index: 2;
      }

      .form-signin input[type="email"] {
        margin-bottom: -1px;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
      }

      .form-signin input[type="password"] {
        margin-bottom: 10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    </style>

    <!-- Custom styles for this template -->
    <link href="{{ base_path ~ directory }} /signin.css" rel="stylesheet" />
  </head>

  <body class="justify-content-center">
    <div class="card">
      <form class="form-signin">
        <div class="text-center mb-4">
          <img
            class="mb-4"
            src="https://i.ibb.co/37Z6qVJ/souba-logo-FHD.png"
            alt=""
            height="72"
          />
          <h1 class="h3 mb-3 font-weight-normal">Archeos_BJ API V0.1 Beta</h1>
          <p>
            This is the Api of archeos Agriculture of precision device api
            <code>:placeholder-shown</code> pseudo-element.
            <a href="https://caniuse.com/#feat=css-placeholder-shown"
              >Works in latest Chrome, Safari, and Firefox.</a
            >
          </p>
        </div>

        <div class="form-label-group">
          <input
            type="email"
            id="inputEmail"
            class="form-control"
            placeholder="Email address"
            required=""
            autofocus=""
          />
          <label for="inputEmail">Email address</label>
        </div>

        <div class="form-label-group">
          <input
            type="text"
            id="inputUsername"
            class="form-control"
            placeholder="Device Unique ID"
            required=""
            autofocus=""
          />
          <label for="inputEmail">Device Unique ID</label>
        </div>
        <button class="btn btn-lg btn-primary btn-block w-100" type="submit">
          Rechercher
        </button>
        <p class="mt-5 mb-3 text-muted text-center">© 2020-2022</p>
      </form>
    </div>
  </body>
  <!-- JavaScript Bundle with Popper -->
  <script
    src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
    crossorigin="anonymous"
  ></script>
</html>
